{{define "nav"}}
<nav>
    {{if .IsAuthenticated }}
    <div>
        <a href='/'>Home</a>
        <a href='/integrations'>Integrations</a>
    </div>
    {{end}}
    <div>
    {{if .IsAuthenticated}}
        <form action="/logout" method="POST">
            <button>Logout</button>
        </form>
    {{end}}
    </div>
</nav>
{{end}}
