{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Habits</h2>
    {{if .IsAuthenticated }}
        {{if .Habits}}
             <table>
                <tr>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>ID</th>
                </tr>
                {{range .Habits}}
                <tr>
                    <td><a href='/habit/view/{{.ID}}'>{{.Status}}</a></td>
                    <td>{{.Category.Name}}</td>
                    <td>{{humanDate .Day.Date}}</td>
                    <td>#{{.ID}}</td>
                </tr>
                {{end}}
            </table>
        {{else}}
    <p>There's nothing to see here yet!</p>
    {{end}}
    {{else}}
        <p>Nothing to see, please authenticate.</p>
    {{end}}
{{end}}
