{{define "title"}}New Habit{{end}}

{{define "main"}}
<form action='/habit/create' method='POST'>
     <!-- Include the CSRF token -->
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <fieldset>
        <legend>Habit Values</legend>
        <p></p>
        <button>Save</button>
    </fieldset>
</form>
{{end}}
