apiVersion: apps/v1
kind: Deployment
metadata:
  name: curious-ape
  labels:
    app: curious-ape
spec:
  replicas: 1
  selector:
    matchLabels:
      app: curious-ape
  template:
    metadata:
      labels:
        app: curious-ape
    spec:
      initContainers:
        - name: restore-ape
          image: litestream/litestream:0.3.12
          command:
            - litestream
            - restore
            - -if-db-not-exists
            - -if-replica-exists
            - /db-data/ape.db
          volumeMounts:
            - name: db-data
              mountPath: /db-data
            - name: litestream-config
              mountPath: /etc/litestream.yml
              subPath: litestream.yml
        - name: migrate-ape
          image: danielcosme/migrate-ape:latest
          command:
            - migrate
            - -path
            - /migrations
            - -database
            - sqlite3:///db-data/ape.db
            - up
          volumeMounts:
            - name: db-data
              mountPath: /db-data
      containers:
        - name: curious-ape
          image: danielcosme/curious-ape:latest
          envFrom:
            - configMapRef:
                name: curious-ape-env
          ports:
            - containerPort: 4000
              protocol: TCP
          volumeMounts:
            - name: ape-config
              mountPath: /app/config.json
              subPath: config.json
            - name: db-data
              mountPath: /app/db-data
        - name: replicate-ape
          image: litestream/litestream:0.3.12
          command:
            - litestream
            - replicate
          volumeMounts:
            - name: db-data
              mountPath: /db-data
            - name: litestream-config
              mountPath: /etc/litestream.yml
              subPath: litestream.yml
      volumes:
        - name: litestream-config
          secret:
            secretName: ape-litestream
            items:
              - key: litestream.yaml
                path: litestream.yml
        - name: ape-config
          secret:
            secretName: ape-config
            items:
              - key: config.json
                path: config.json
        - name: db-data
          persistentVolumeClaim:
            claimName: curious-ape
---
apiVersion: v1
kind: Service
metadata:
  name: curious-ape
spec:
  selector:
    app: curious-ape
  ports:
    - port: 4000
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: curious-ape
spec:
  accessModes: [ReadWriteOnce]
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Namespace
metadata:
  name: curious-ape
