apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: curious-ape
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: curious-ape
                port:
                  number: 4000
