{{define "title"}}Home{{end}}

{{define "main"}}
<h2>Days</h2>
{{if .Days}}
 <table class="u-full-width">
     <thead>
         <tr>
             <th>Date</th>
             <th>Wake Up</th>
             <th>Fitness</th>
             <th>Work</th>
             <th>Eat</th>
         </tr>
     </thead>
     <tbody>
     {{range .Days}}
         {{template "day_row" .}}
     {{end}}
     </tbody>
</table>
{{else}}
<p>There's nothing to see here yet!</p>
{{end}}
{{end}}
