{{define "title"}}Integrations{{end}}

{{define "main"}}
    <H2>Integrations</H2>
    <article>
        <header>
            <h3>Fitbit</h3>
        </header>
        <p><strong>Status:</strong> {{.Fitbit.State}}</p>
        <button hx-swap="outerHTML" hx-boost="false" hx-get="/oauth2/fitbit/connect">Authenticate</button>
    </article>
{{end}}