package pages

import (
	"danicos.dev/daniel/curious-ape/pkg/ui/layouts"
)

templ LoginPage(title string) {
	@layouts.Base(title) {
		<form class="login-form">
			<fieldset>
				<legend> Login </legend>
				<div>
					<label for="username"> Username </label>
					<input type="text" id="username" name="username" placeholder="" required="">
				</div>
				<div>
					<label for="password"> Password </label>
					<input type="text" id="password" name="password" placeholder="" required="">
				</div>
				<button
					style="margin-top: 1rem"
					class="btn"
					type="submit"
					data-on:click="@post('/login', {contentType: 'form'})"> Login </button>
			</fieldset>
		</form>
	}
}
