package layouts

import(
	"danicos.dev/daniel/curious-ape/web/resources"
	// "danicos.dev/daniel/curious-ape/pkg/config"
)

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{ title }</title>
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

			// <link rel="preconnect" href="https://fonts.googleapis.com"/>
			// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
			// <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:wght@100..900&family=Gideon+Roman:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"/>
			// <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

			<link rel="icon" type="image/x-icon" href={ resources.StaticPath("assets/favicon.ico") }/>
			<script defer type="module" src={ resources.StaticPath("datastar/datastar.js") }></script>
			<link rel="stylesheet" href={ resources.StaticPath("main.css") } type="text/css"/>
		</head>
		<body class="layout">
			// if config.Global.Environment == config.Dev {
			// 	<div data-init="@get('/reload', {retryMaxCount: Infinity, retryInterval:20, retryMaxWaitMs:200})"></div>
			// }
			<h1>{ title }</h1>
			{ children... }
		</body>
	</html>
}
